.dnd_wrapper {
  position: relative;
}

.dnd__item {
  visibility: hidden;
  z-index: 2;
  cursor: pointer;
  position: absolute;
  width: 10px;
  height: 10px;
  padding: 4px;
  top: 10px;
  left: 15px;
  background: url('../elements/icon/images/dnd.svg') center center no-repeat;
}

.dnd_wrapper:not([data-invisible]):hover .dnd__item {
  visibility: visible;
}

.dnd_wrapper[data-invisible] + div:not(.dnd_wrapper),
.dnd_wrapper[data-invisible]:hover + div:not(.dnd_wrapper) {
  display: none;
}

.dnd_wrapper[data-invisible] .dnd__item {
  display: none;
}

.dnd_wrapper[data-invisible] div {
  background-color: lightgray;
  color: lightgray !important;

  span {
    border-color: lightgray;
    background-color: lightgray;
    color: lightgray;
  }
}
.DataTable__col_headerName {
  grid-template-columns: minmax(180px, 1fr) 0px 0px 0px 0px 400px 0px 0px 310px !important;
}
.DataTable {
  &__form {
    width: 100%;
  }

  &__row {
    display: grid;
    position: relative;
    height: 40px;
    padding: 0 50px;
    justify-content: space-between;
    font-size: 14px;
    line-height: 16px;
    color: rgba(0,0,0,.8);
    cursor: default;
    grid-template-columns:
      minmax(180px, 1fr)
      150px
      80px
      130px
      90px
      130px
      90px
      90px
      130px;

    &_estimate:hover {
      background-color: rgba(53, 122, 255, 0.05);
    }

    &_pointer:hover {
      cursor: pointer
    }   

    &_header {
      padding: 13px 50px 13px 50px;
      font-size: 12px;
      line-height: 14px;
      color: rgba(98, 125, 139, 50%);

      .DataTable__col {
        align-content: center;
        align-items: center;
        padding-right: 10px;

        &:first-child {
          padding-left: 10px;
        }

        &_collapsed {
          position: relative;
          pointer-events:none;
          &::before {
            pointer-events:auto;
            content: '';
            display: inline-block;
            width: 15px;
            height: 12px;
            position: absolute;
            left: -20px;
            cursor: pointer;
            background: transparent url('../../components/elements/icon/images/sm-chevron-right.svg') no-repeat 6px center;
            transition: ease transform .3s;
            opacity: .2;
          }
        }

        &_opened::before {
          top: 12px;
          transform: rotate(90deg);
          transition: ease transform 0.3s;
        }

        &:not(:first-child) {
          text-align: right;
          justify-content: flex-end;
          span {
            text-align: right;
          }
        }

        &:nth-child(2),
        &:nth-child(4) {
          padding-left: 20px!important;
          text-align: left!important;
          justify-content: flex-start!important;
          button {
            position: relative;
            top: -1px;
            left: -3.5px;
          }
        }

        &_not-editable {
          cursor: default;
        }
      }
    }

    &_fix {
      position: sticky;
      top: 0;
      z-index: 6;
      width: 96%;
      margin-left: -24px;
      background: #fff;
      box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
      color: rgba(98, 125, 139, 50%);
      .DataTable__col {
        padding-right: 30px;
        &:first-child {
          padding-left: 32px;
          &::before {
            left: 7px;
          }
        }
        &:nth-child(2),
        &:nth-child(4) {
          padding-left: 0 !important;
        }
      }
    }

    &[data-level="0"] {
      position: relative;
      height: auto;
      margin-top: 25px;
      margin-bottom: 10px;
      font-size: 21px;
      line-height: 30px;
      font-weight: bold;

      .DataTable__col {
        .DataTable__input_col {
          font-size: 21px;
          line-height: 30px;
          font-weight: bold;
        }
        &:first-child {
          font-size: 24px;
          .DataTable__input_col {
            font-size: 24px;
            font-weight: bold;
          }
        }
      }

      &:before {
        position: absolute;
        top: -27px;
        left: 0;
        display: block;
        content: '';
        width: 100%;
        height: 1px;
        background-color: rgba(0, 0, 0, 0.1);
      }
    }

    &[data-level="1"] {
      .DataTable__col {
        &:first-child {
          font-weight: bold;
          padding-left: 5px;
        }
      }
    }

    &[data-level="2"] {
      .DataTable__col {
        &:first-child {
          padding-left: 20px;
        }
      }
    }

    &_editing {
      background-color: #ffffff;
      box-shadow: inset 0 0 0 1px #357aff;
      border-radius: 5px;
      color: #357AFF;

      &[data-level="0"] {
        padding-left: 60px;

        input {
          font-size: 24px !important;
          font-weight: bold;
        }
      }
    }

    :global {
      .react-select__placeholder {
        opacity: 1;
        font-weight: 400;
        font-size: 14px;
      }
      .react-select__control--is-focused {
        background-color: rgba(53, 122, 255, 0.1);
        border-radius: 0;
      }
    }
  }

  &__col {
    display: flex;
    flex: 0 0 100px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    align-items: center;
    position: relative;

    &:first-child {
      .DataTable__col_inner {
        span {
          overflow: hidden;
        }
      }

      input::placeholder {
        font-weight: normal;
        font-size: 14px;
      }

      &[data-number] {
        &::before {
          position: absolute;
          content: attr(data-number);
          display: inline-block;
          color: rgba(0, 0, 0, 0.8);
          font-weight: bold;
        }

        &[data-level="0"] {
          &::before {
            top: 5px;
            left: 0;
            font-size: 24px;
          }
          input {
            padding-left: 27px;
            padding-top: 2px;
          }
        }

        &[data-level="1"] {
          &::before {
            top: 12px;
            left: 10px;
            font-size: 14px;
          }
          input {
            padding-left: 34px;
            padding-top: 2px;
          }
        }
      }

      &[data-level="0"] {
        input::placeholder {
          color: rgba(98, 125, 139, 0.2);
          font-weight: bold;
          font-size: 24px;
        }
      }

      &[data-level="1"] {
        input::placeholder {
          color: rgba(98, 125, 139, 0.5);
        }
      }

      &[data-level="2"] {
        input::placeholder {
          color: rgba(98, 125, 139, 0.3);
        }
      }
    }

    &:not(:first-child) {
      .DataTable__col_inner {
        justify-content: flex-end;
      }
      .DataTable__input_col,
      .DataTable__col_name {
        text-align: right;
      }
    }

    &_select {
      padding-left: 20px!important;
      text-align: left!important;
      justify-content: flex-start!important;

      > div {
        margin-top: 0 !important;

        :global {
          .react-select__single-value {
            color: #357AFF;
          }

          .react-select__option {
            color: black;

            &--is-selected {
              color: white;
            }
          }
        }
      }

      span.DataTable__col_name {
        text-align: left!important;
        justify-content: flex-start!important;
      }
    }

    &_inner {
      display: flex;
      align-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      min-height: 40px;
      padding-right: 10px;
      box-sizing: border-box;
      white-space: nowrap;
    }

    &_name {
      width: 100%;
      // padding-left: 10px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: initial;
    }

    &_ellipsis {
      display: inline;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      height: auto;
      min-height: 0;
    }
  }

  &__input {
    &_col {
      width: 100%;
      height: 100%;
      min-height: 40px;
      padding: 2px 10px 0;
      box-sizing: border-box;
      font-size: 14px;
      border: none;
      font-family: Roboto, sans-serif;
      transform: translateY(-1px);
      background-color: rgba(0, 0, 0, 0);
      color: inherit;
    }

    &_col:focus {
      background-color: rgba(53, 122, 255, 0.1);
    }
  }

  &__Accordion_resources {
    background-color: rgba(98, 125, 139, 0.03);
  }

  &_theme {
    &_valuation {
      .DataTable__row {
        grid-template-columns:
          minmax(180px, 1fr)
          100px
          90px
          90px
          90px;

        &_header {
          &:after {
            position: absolute;
            left: 0;
            right: 0;
            display: block;
            content: '';
            bottom: 6px;
            height: 1px;
            background-color: rgba(0, 0, 0, 0.1);
          }
        }

        &_fix {
          &:after {
            display: none;
          }
        }
      }
    }
  }
}

.DataTable__button {
  display: block;
  position: relative;
  width: auto;
  max-height: 64px;
  padding: 15px 10px 15px 30px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 60px;
  background: transparent;
  border: none;
  font-size: 14px;
  font-weight: normal;
  color: #357AFF;
  text-transform: none;
  cursor: pointer;

  i {
    position: absolute;
    top: calc(50% - 10px);
    left: 0;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #357AFF;
    > div {
      width: 20px;
      height: 20px;
      background-size: 40%;
    }
  }

  &_stage {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 25px;
    color: rgba(53, 122, 255, 0.3);
    transition: ease color 0.4s;
    &:hover {
      color: rgba(53, 122, 255, 0.8);
    }
  }

  &_resource {
    margin-left: 70px;
    padding: 15px 10px 15px 50px;
    i {
      position: absolute;
      top: calc(50% - 10px);
      left: 0;
      width: 35px;
      height: 20px;
      border-radius: 0;
      background: transparent;
      > div {
        margin: 0 auto;
        background-size: 95%
      }
    }
  }

  &_work {
    font-style: normal;
    margin-bottom: 40px !important;
  }
}

